<div class="<%= location %>">
      <div>
        <%= link_to 'Home Page', root_path %>
      </div>
      <div>
        <%= link_to 'About Page', about_path %>
      </div>
      <div>
        <%= link_to 'Contact Page', contact_path %>
      </div>
      <div>
        <%= link_to 'Blog', blogs_path %>
      </div>
      <div>
        <%= link_to 'Portfolio', portfolios_path %>
      </div>
</div>