<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>

    <meta name="keeywords" content="<%= @seo_keywords%>"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "portfolios", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

     <%= render 'shared/nav', location: 'top' %>

     <% if current_user.is_a?(User) %>
    
    <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
  <% else %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <% end %>
    <%= yield %>
    <% if session[:source]%>
    Thanks for visiting me from <%= session[:source]%>
    <%end%>
  </body>
</html>
